<div class="container">
    <div >

     

        <h3 class="titlename" >
          <strong> Welcome back, HRMS ADMIN!</strong></h3>
        <h4 class="font-weight-bolder ml-3"> {{time |  date:'dd MMMM yyyy' }}</h4>
        <div class="row">
            <div class="col-lg-3">
                    
                <div class="card">
                       
                        <div class="card-body">
                           
                                    <div class="row">
                                            <div class="col-lg-3">
                                                <button type="button" class="act4" ><i class="fas fa-user-alt"></i></button>
                                                   
                                        </div>
                                        <div class="col-lg-9">
                                            <span><a routerLink='/viewdetails' style="color:rgb(16, 141, 243);  font-weight: bold;   font-size: 18px;"><strong>Add</strong></a>
                                            Employee </span><br><br>
                                         
                                            <a routerLink='/viewdetails'><p style="margin-top: -3px;     font-size: 12px;">View Employees</p></a>
                                           
                                        </div>
            
                                        </div>
                            </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card ">
                   
                    <div class="card-body">
                            <div class="row">
                                    <div class="col-lg-3">
                                        <button type="button" class="act2" ><i class="fas fa-bell"></i></button>
                                           
                                </div>
                                <div class="col-lg-9">
                                    <span><a routerLink='/noticeboard' style="color:rgb(16, 141, 243);  font-weight: bold;   font-size: 18px;"><strong>Add</strong></a>
Notice</span><br><br>
                                 

                                     <a routerLink='/noticeboard'><p style="margin-top: -3px; font-size: 12px;">View Notice</p></a>
    
                                   
                                </div>
    
                                </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                    
                <div class="card">
                         
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-lg-3">
                                            <button type="button" class="act3" ><i class="fas fa-calendar-alt"></i></button>
                                               
                                    </div>
                                    <div class="col-lg-9">
                                        <span><a routerLink='/leaverequest' style="color:rgb(16, 141, 243);  font-weight: bold;   font-size: 18px;"><strong>Leave</strong></a>
                                         Management</span><br><br>                                    
    
                                         <a routerLink='/leaverequest'><p style="margin-top: -3px;    font-size: 12px;">View Application</p></a>
        
                                       
                                    </div>
        
                                    </div>
                            
    
                            </div> 
                </div>
            </div>
            <div class="col-lg-3">
                  
                <div class="card">
                 
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-lg-3">
                                            <button type="button" class="act7" ><i class="fas fa-file-upload"></i></button>
                                               
                                    </div>
                                    <div class="col-lg-9">
                                        <span><a  routerLink='/uploadpayslips' style="color:rgb(16, 141, 243);  font-weight: bold;  font-size: 18px;"><strong>Upload</strong></a>
                                    Payslips</span><br><br>
                                     
    
                                        <a routerLink='/uploadpayslips'><p style="margin-top: -3px;     font-size: 12px;">View Payslips</p></a> 
        
                                       
                                    </div>
        
                                    </div>

                            </div>
                    
                </div>
            </div>
        </div>

        <div class="row " style="margin-left:3px;margin-right: 3px;">
            <div class="card" >
                <div class="row">
                   <div class="col-lg-3">
                   <p class="titlename">Employee Absent today</p>
                   <div class="row">
                       <div class="col-lg-6">
                   <p style="margin-left: 15px;margin-top: -12px; color: rgb(45, 14, 129);">Absent</p>
                </div>
                <div class="col-lg-6">
                    <p  class="float-right wegiht" style="color: rgb(45, 14, 129);">5</p>
                </div>
                </div>

             <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span class="float-left" style="margin-left: 15px;color: rgb(8, 8, 8);">Absent Status</span>
                      <span class="float-right" style="color: rgb(8, 8, 8);">50%</span>

                   </div>
                   <div class="col-lg-3">
                        <p class="titlename">Employee Present Today</p>
                        <div class="row">
                            <div class="col-lg-6">
                        <p style="margin-left: 15px; margin-top: -12px; color: rgb(45, 14, 129);">Present</p>
                     </div>
                     <div class="col-lg-6">
                         <p  class="float-right wegiht" style="color: rgb(45, 14, 129);">5</p>
                     </div>
                     </div>
     
                  <div class="progress">
                             <div class="progress-bar" role="progressbar" aria-valuenow="100" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                           <span class="float-left" style="margin-left: 15px;color: rgb(8, 8, 8);">Present Status</span>
                           <span class="float-right" style="color: rgb(8, 8, 8);">50%</span>
                    </div>
                    <div class="col-lg-3">
                            <p class="titlename">Total Projects</p>
                            <div class="row">
                                <div class="col-lg-6">
                            <p style="margin-left: 15px;margin-top: -12px; color: rgb(45, 14, 129);">Project Status</p>
                         </div>
                         <div class="col-lg-6">
                             <p  class="float-right wegiht" style="color: rgb(45, 14, 129);">3</p>
                         </div>
                         </div>
         
                      <div class="progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="100" style="width: 30%" aria-valuemin="0" aria-valuemax="100"></div>
                               </div>
                               <span class="float-left" style="margin-left: 15px;color: rgb(8, 8, 8);">completed</span>
                               <span class="float-right" style="color: rgb(8, 8, 8);">35.56%</span>
                        </div>
                        <div class="col-lg-3">
                                <p class="titlename">Tasks</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                <p style="margin-left: 15px; margin-top: -12px; color: rgb(45, 14, 129);">Tasks Status</p>
                             </div>
                             <div class="col-lg-6">
                                 <p   class="float-right wegiht" style="margin-right: 10px; color: rgb(45, 14, 129);">8</p>
                             </div>
                             </div>
             
                          <div class="progress" style="margin-right: 10px;">
                                     <div class="progress-bar" role="progressbar" aria-valuenow="100" style="width: 20%" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <span class="float-left" style="margin-left: 15px;color: rgb(8, 8, 8);">Completed</span>
                                   <span class="float-right" style="margin-right: 10px;color: rgb(8, 8, 8);">20%</span>
                            </div>
                </div>
            </div>
        </div>        

    </div>

</div>
