.titlename{
    margin-top: 65px;
    color: black;
}
.container{
    margin-top:60px;
}
.fas{
    color: white;
}
.act{
    color: white;
    font-size: 10px;
    background-color: #63dae8;
}
.act1{
    color: white;
    font-size: 10px;
    background-color:rgb(216, 54, 54);
}
.act2{
    width: 52px;
  
    height: 54px;
    background-color: rgb(7, 197, 64);
    border: none;
}
.act3{
    width: 52px;
  
    height: 54px;
    background-color: rgb(233, 15, 15);
    border: none;
}
.act4{
    width: 52px;
  
    height: 54px;
    background-color:rgb(71, 115, 248);
    border: none;
}
.act6{
    margin-top: -3px;     font-size: 12px;
}

.act7{
    width: 52px;
  
    height: 54px;
    background-color:#D4AF37;
    border: none;
}
.titlename{
    margin-top: 10px;
    margin-left: 15px;
    font-weight:600;
    color:rgb(56, 56, 63);
}
.progress{
    margin-left: 15px;
}
.wegiht{
    margin-top: -12px; font-weight:500; font-size: medium;

}