
    <div class=""> 
        
      <ul class=" nav justify-content-end p-2 fixed-top" style="height: 56px">
         
          <li class="nav-item">
            <a class="nav-link text-white" href="#"></a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"></a>
            </li>
           <li class="nav-item">
              <a class="nav-link text-white" href="#"></a>
            <!-- </li>
         <a href="#" class="btn btn-danger"><i class="fas fa-power-off text-white"></i></a> -->
          <li class="text-white">
              <!-- <a class="text-white btn" role="button" routerLink="/noticeboard" (click)="logoutUser()"> <i class="fas fa-power-off mr-2 "></i></a> -->
            </li>
           </ul>
    </div>
   <div class=" p-2 fixed-top">
            <div class="">
                <img src="./assets/img/site-logo.png" height="40px" class="">
             
              </div>
      </div> 
  

