
    <div class=""> 
        
      <ul class=" nav justify-content-end p-2 fixed-top">
         
          <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="fas fa-comments text-white"></i></a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"><i class="fa fa-bell"></i> <span class="badge badge-danger">1</span></a>
            </li>
           <li class="nav-item">
              <a class="nav-link text-white" href="#"><i class="fa fa-refresh text-white"></i></a>
            </li>
         
          <li class="nav-item text-white">
              <a class="nav-link text-white ntfy"  role="button" (click)="logoutUser()"> <i class="fas fa-power-off mr-2"></i></a>
            </li>
           </ul>
    </div>
   <div class=" p-2 fixed-top">
            <div class="">
                <img src="/assets/img/ZYCLYX1.png" height="50px" width="200px" class="">
                <i class="fas fa-bars barIcon"></i>
              </div>
      </div> 
  
<!-- <div> <ul class="nav bg-dark justify-content-end p-2 sticky-top">        
      <li class="nav-item dropdowns">
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="fa fa-refresh text-warning"></i></a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"><i class="fa fa-bell"></i> <span class="badge badge-danger">1</span></a>
        </li>
        <li class="nav-item bg-danger">
            <a class="nav-link text-white ntfy"  role="button" (click)="logoutUser()"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
          </li>
        </ul>
  </div> -->
