
    <div class=""> 
        
      <ul class=" nav justify-content-end p-2 fixed-top">
         
          <li class="nav-item">
            <a class="nav-link text-white" href="#"></a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"></a>
            </li>
           <li class="nav-item">
              <a class="nav-link text-white" href="#"></a>
            </li>
         
          <li class="nav-item text-white">
              <a class="nav-link text-white ntfy" href="#" routerLink="/noticeboard" role="button" > <i class="fas fa-power-off mr-2 " (click)="logoutUser()"></i></a>
            </li>
           </ul>
    </div>
   <div class=" p-2 fixed-top">
            <div class="">
                <img src="./assets/img/site-logo.png"height="50px" width="200px" class="">
                <i class="fas fa-bars barIcon"></i>
              </div>
      </div> 
  

