.card{
    box-shadow: 0 0 20px -5px black; 
}
.btn:hover{
    background: green;
    color: white;
}
.page-bar{
    background: none;
}
thead{
    background: #dff3ff;
    
}
.titleName{
    font-weight: bold;
    margin-top: 63px;
}
.Homebar i,.Homebar a{
    color:#0177bc;
}
.addBtn{
    background: #0177bc;
}
.btnShow{
    background: #e4e2e2;
}
.btnShow:hover{
    background: #e4e2e2;
}
table{     
        font-style: normal;
       }
.actionIcons{
    background: white;
    box-shadow: 1px 1px 3px -1px black;
    background: none;
    outline: none;
    border: none;
    margin-right: 20PX;
    padding: 5px;
    width: 30px;
}
.search{
    margin: 5px 0px;
}
.report{
    color: #0177bc;
    font-size: 23px;
}
.modal-header{
    border-bottom: none;
}
.Company{
    cursor: not-allowed;
}
    

// h3{
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     color: #f38c06;
//     font-weight: bold;
// }
// .caption{
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// }
// .bgLogo{
//     background-image: url('/assets/img/Bg.jpg');
//     background-attachment: fixed;
//     background-size:cover;
//     background-repeat: no-repeat;
   
// }