<div class="container"> 
    <div class="page-bar">
           <h3 class="titleName">
               Holiday
             </h3>
              <ul class="page-breadcrumb">
             <li class="Homebar">
               <i class="fa fa-home"></i>
               <a href="#" routerLink="/homepage">Home</a>
              
             </li>
             <li>
                 <i class="fa fa-angle-right"></i>
               <a href="#" routerLink="">Holiday</a>
              </li>
            </ul>  
         </div>
            <div class="row">
                <div class="col-lg-3">
                       <div class="card">
                               <h5 class=" card-header font-weight-bold report">Report Filter</h5>
                               <hr class="bg-primary">
                               <div class="card-body">
                                 <div class="input-group  text-center">
                                       <fieldset disabled>
                                               <div class="form-group">
                                                 
                                                 <input type="text" id="disabledTextInput" class="form-control " value="ZYCLYX Technologies">
                                               </div>
                                               </fieldset>
                                   </div>
                                   <mat-form-field>
                                    <mat-label>Holiday Type</mat-label>
                                      <mat-select [(value)]="holidaytype"  name="holidaytype" [(ngModel)]="addholidaydata.holidaytype">
                                    
                                      <mat-option value="MandatoryHoliday">Mandatory Holiday</mat-option>
                                      <mat-option value="OptionalHoliday">Optional Holiday</mat-option>                                      
                                      </mat-select>
                                    </mat-form-field> 
                                     <!-- <p>You selected: <b class=" field">{{holidayType}}</b></p>  -->
                                  
                                   <!-- <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Occation" name="reason" placeholder="Occasion" [(ngModel)]="addholidaydata.reason"></textarea>
                                          </mat-form-field>                            -->
                                          <mat-form-field class="example-full-width mb-3">
                                              <mat-label>Message</mat-label>
                                              <input matInput #message maxlength="256" name="reason" placeholder="Occasion" [(ngModel)]="addholidaydata.reason">
                                              <!-- <mat-hint align="start"><strong></strong> </mat-hint> -->
                                              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                            </mat-form-field>
                                        
                                                                          
                                         
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="date" name="date" placeholder="Date" [(ngModel)]="addholidaydata.date" placeholder="Date">
                                          </mat-form-field>    
                                         
                                         
                                           
                                         <a  class="btn blue btn-block rounded grtBtn" (click)="addholiday()" > <i class="far fa-check-square mr-2"></i>save</a>
                               </div>
                             </div>
                </div>
                <div class="col-lg-9">
                      <div class="card">														                                                   
                                <div class="card-body">
                                   <h4 class="font-weight-bold mb-3 report"><i class="far fa-calendar-alt fa-1x mr-2"></i>Upload Holiday</h4>
                                   <hr class="bg-primary">
                                  <div class="row">
                                      <mat-form-field>
                                          <mat-label>Holiday Type</mat-label>
                                            <mat-select [(value)]="holidayType" name="holidayType" [(ngModel)]="leavedata.holidayType">
                                                <!-- <mat-option value="Allholidays">ALL</mat-option> -->
                                     
                                            <mat-option value="MandatoryHoliday">Mandatory Holiday</mat-option>
                                            <mat-option value="OptionalHoliday">Optional Holiday</mat-option>                                      
                                            </mat-select>
                                          </mat-form-field>
                                          <div class="col-lg-6 sccessBtn"> <button type="button" class="btn btn-success sccessBtn p-2" (click)="holidaytype()" >submit</button>
                                          </div> 
                 
                                   <div class="col lg-6 ">
                                       <!-- <div class="input-group mb-3 justify-content-end" >
                                           <input type="text" class=" border search text-center" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
                                           <div class="input-group-append" style="margin-top: -38px;">
                                             <button class="btn bg-primary btn-sm p-1" type="button" id="button-addon2">Go</button>
                                           </div>
                                         </div> -->
                                   </div>
                                  
                                   </div>
                                     <table class="table table-striped table-bordered table-hover  tabel-responsive" id="myTable">
                                   <thead>
                                     <tr class="table-fields tabHead font-weight-bolder">
                                       <!-- <th><b>S.no</b></th> -->
                                       <th>Holiday Type</th>
                                      <th>Date</th>
                                      <th>Occasion</th>
                                      <th>Day</th>
                                   </tr>
                                   </thead>
                                   <tbody>                                 
                                     <tr>
                                       <!-- <td>1</td> -->
                                       <tr *ngFor="let hero of array1">
                                          <td>{{hero.holidaytype}}</td>
                                          <td>{{hero.date}}</td>
                                          <td>{{hero.reason}}</td>
                                          <td>{{hero.dayofweek}}</td>
                                      </tr>                      
                                                                         
                                                                    																	
                                       </tbody>
                                  </table>															 
                                  <!-- <div class="form-group text-right float-left">
                                       <span id="load_notification"></span>
                                      <input type="checkbox" onchange="ToggleEmailNotification('notice_notification');return false;"
                                             class="make-switch" name="notice_notification" checked
                                              data-on-color="success" data-on-text="Yes" data-off-text="No" data-off-color="danger">
                                      <strong>Email Notification</strong><br>
                                    </div>
                                  <nav aria-label="Page navigation example">
                                     <ul class="pagination justify-content-end font-weight-bold ">
                                       <li class="page-item disabled border">
                                         <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                       </li>
                                       <li class="page-item border"><a class="page-link" href="#">1</a></li>
                                       <li class="page-item border"><a class="page-link" href="#">2</a></li>
                                       <li class="page-item border"><a class="page-link" href="#">3</a></li>
                                       <li class="page-item border">
                                         <a class="page-link" href="#">Next</a>
                                       </li>
                                     </ul>
                                   </nav>									  -->
                                 </div>														 
                             </div>
                </div>
            </div>

