<div class="page-content-wrapper" style="margin-left: -237px;">
 	
  <div class="page-content bgLogo" style="margin-right: -232px;">
    <h3 >
         Employee Details
     </h3>
      <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <i class="fa fa-home"></i>
                 <a routerLink='/homepage'>Home</a>
                 <i class="fa fa-angle-right"></i>
             </li>
             <li>
                 <a>Employee Details</a>
                 <i class="fa "></i>
             </li>
 
         </ul>
 
     </div>
      <div class="row ">
         <div class="col-md-6">

         </div>
         <div class="col-md-6 form-group text-right">
 
 
 
         </div>
     </div>
 
 
       <div class="row">
         <div class="col-md-12">
 
 
             <!-- BEGIN EXAMPLE TABLE PORTLET-->
             <div id="load">
 
                 
                                 
 
             </div>
             <div class="portlet box blue">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class="fa fa-download"></i>View Details
                     </div>
                     <div class="tools">
                     </div>
                 </div>
 
                 <div class="portlet-body">

                    <!-- <div class="input-field search_field">
                        <i class="fa fa-search prefix"></i>
                        <input id="icon_search" type="search" placeholder="search">
    
                      </div>					 -->

                    <!-- <div class="input-field search_field">
                       
                        <input id="icon_search" type="search" name="fullid" [(ngModel)]=" empData.fullid" placeholder="search"> 
                        <i class="far fa-search btn btn-sm btn-success" (click)="viewemployee()" routerLink="/viewdetails"></i>
    
                      </div>	 -->
 
 
                     <table class="table table-striped table-bordered table-hover" id="notices">

                            <!-- <li *ngFor="let hero of heroes"> -->
                    
                         <tr class="text-center">
                             <th>Employee ID</th>
                             <th>Employee Name</th>
                            
                                                
                         </tr>
                      
                         
                         <tbody class="text-center">
                         
                         	<tr>
                           
                                      <td  > {{fullid}}</td>
                                      <td > {{name}}</td> 
                                      <input type="hidden"  name="names" ng-value="name" [(ngModel)]=" viewemployee1.names" >
                                      <input type="hidden"  name="fullid" ng-value="fullid" [(ngModel)]=" viewemployee1.fullid" >
                                      
                      
                               </tr>
                              
                            <tr >
                            	
                            	 <td> {{fullid1}}</td>
                                      <td >{{name1}}</td>
                                  
                            </tr>   
                            <tr>
                            	
                            	 <td> {{fullid2}}</td>
                                      <td> {{name2}}</td>
                                  
                            </tr>   

                            <tr>
                            	
                            	 <td>{{fullid3}}</td>
                                      <td> {{name3}}</td>
                                      
                            </tr>  
                            <tr>
                            	
                            	 <td> {{fullid4}}</td>
                                      <td>{{name4}}</td>
                                   
                            </tr>                            
 
                         </tbody>
                     </table>
                 </div>
             </div>
             <!-- END EXAMPLE TABLE PORTLET-->
 
         </div>
     </div>
 
 
 
  </div>
  </div>



