.sideImg{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    box-shadow: 0 0 10px -4px;
    z-index: 1000;
    margin-left:70px;

}
.fas{
    color:#0177bc;
}
.report{
    color: #0177bc;
    font-size: 23px;
}
.navbar{
    margin-top: 50px;
}
.search:hover{
background: green;
color:white;
}
body
{
  background-color:#f5f5f5;
}
.imagePreview {
    width: 400%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
  position: relative;
  left:100px;
}
.btnpriview
{
    width: 190px;   
    margin: -5px 98px auto;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2); 
}
.imgUp
{
  margin-bottom:15px;
}
.page-bar{
    background: none;
}
.addEmpBtn{
  border:none;
}
// .search_field input{
//     border:1px solid white;


// }
// .viewData{
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
// }

// i{
//     color: rgb(78, 46, 40);
// }
// h4{
//     color:#ff4949;
//     font-weight: bold;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

// }
