

  <div class="page-content-wrapper" style="margin-left:0px;">
    <div class="page-content bgLogo" style="margin-left:0px;">
<h3 class="page-title">
    Item Add page
</h3>
</div>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
    <a href="#"  routerLink="/iprocurement">Iprocurement</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="">Add Item</a>
        </li>
    </ul>

</div>

  
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-plus"></i>Add New item
        </div>
        <div class="tools">
        </div>
      </div>

      <div class="portlet-body form">
        
          <div class="form-body">

            <div class="form-group">
              <div class="row">
              <div class="col-2 control-label text-right">Item Name: <span class="required">
              * </span>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" name="itemName" placeholder="Item Name"
              value="">
            </div>
            <div class="col-5"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="col-2 control-label text-right">Purchase From:
            </div>
            <div class="col-5">
              <input type="text" class="form-control" name="purchaseFrom" placeholder="Purchase From"
              value="">
            </div>
            <div class="col-5"></div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
            <div class="col-2 control-label text-right">Purchase Date:
            </div>
            <div class="col-5">
              <div class="input-group input-medium">
                <input type="date" class="form-control" name="purchaseDate">
                
                </div>
              </div>
              <div class="col-5"></div>
            </div>
          </div>

            <div class="form-group">
              <div class="row">
              <div class="col-2 control-label text-right">Amount price:<span class="required">  * </span>
               <span class="fa fa-inr"></span>
              </div>

                <div class="col-5">
                  <input type="text" class="form-control" name="price" placeholder="Price of Item"
                  value="">
                </div>
                <div class="col-5"></div>
              </div>
              </div>

              <div class="form-group">
                <div class="row">
                <div class="col-2 control-label text-right">Attach Bill:</div>

                <div class="col-5">
                
                  <div class="custom-file">
                    <input type="file" class="custom-file-input"  >
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                      </div>
                                        
                
                <div class="col-5"></div>
              </div>
              </div>
            

              <div class="form-actions">
                <div class="row">
                  <div class="col text-center">
                    <button type="button" class="btn green"><i
                      class="fa fa-check"></i> Submit
                    </button>

                  </div>
                </div>
              </div>
      </div>
    </div>
    </div>
    
    